.note-preview {
  margin: auto;
  width: 250px;
  height: 300px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 10px;
  background-color: rgb(12, 22, 65);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  box-shadow: 0.2rem 0.2rem 0.4em black, -0.2rem 0.2rem 0.4em black;
  position: relative;
  border: 1px solid rgb(21, 55, 206);
}

.note-preview .text {
  background-color: inherit;
  text-align: left;
  display: block;
  padding: 10px;
  color: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}

.note-preview .title {
  font-size: 1.2em;
}

.note-preview .content {
  overflow-wrap: break-word;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  font-size: 1.05em;
  background-color: rgb(7, 15, 48);
  flex-grow: 1;

  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-preview .icons {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: large;
  padding: 7px;
}

.note-preview .icon {
  text-align: right;
  padding: 3px;
  margin: 7px;
  filter: drop-shadow(0.2rem 0.2rem 0.2em black);
}

.note-preview .icon:active {
  filter: drop-shadow(0 0 0 black);
}

.note-preview .icon.delete {
  color: red;
}

.note-preview .icon.delete:active {
  color: rgb(185, 0, 0);
}
